---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
  display: inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax", "starsnonscss";

// Table width 100%
table {
  width: 100%;
}

.masonry {
  column-count: 1;
  column-gap: 1em;
}

.masonry-item {
  display: block;
  margin-bottom: 12px;
}

@media (min-width: 400px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 700px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 1000px) {
  .masonry {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .masonry {
    column-count: 5;
  }
}

@media (min-width: 1800px) {
  .masonry {
    column-count: 6;
  }
}
